body {
  color: #dedede;
  background-color: #111;
  font-family: sans-serif;
}
.homepage {
  margin: 200px 0 100px 0;
}
.homepage.logo h1 {
  color: #555;
  font-family: 'Nobile', sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.2;
}
.homepage.logo .char1 {
}
.homepage.logo .char2 {
  position: relative;
  left: -15px;
}
.homepage.logo .char3 {
  position: relative;
  left: -20px;
}
.homepage.logo .char4 {
  position: relative;
  left: -24px;
}
.homepage.logo .char5 {
  position: relative;
  left: -26px;
}
.homepage.logo .char6 {
  color: #c21;
  position: relative;
  left: -38px;
  font-size: 150px;
}
footer {
  clear: both;
  float: left;
  width: 100%;
  border-top: 4px solid #333;
  background-color: #222;
  padding: 20px;
  color: #aaa;
}

footer a {
  color: #bbb;
}

footer ul {
  list-style: none outside;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-left: 3px;
}
